* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: "TitilliumWeb";
    src: url(content/titillium-web/TitilliumWeb-Regular.ttf);
}

@font-face {
    font-family: "TuskerGrotesk";
    src: url(content/tusker-grotesk-font/TuskerGrotesk-4500Medium.ttf);
}

.navbar{
    display: flex;
    background-color: #5c8d02;
    justify-content: center;
}

.links{
    display: flex;
    color: blanchedalmond;
    justify-content: space-between;
    padding: 15px;
    width: 2000px

}

.contact,
.math,
.about,
.home{
    display: flex;
    justify-content: space-between;
    font-family:"TuskerGrotesk";
}

.main{
    display: flex;
    background-color: blanchedalmond;
    justify-content:flex-start;
    font-family: "TuskerGrotesk";
    flex-direction: column;
    align-items: center;
    padding: 40px;
    height: 900px;
    
}

.sale{
  padding: 10px;
}

p{
    padding-top: 50px;
}

a{
    text-decoration: none;
    
}

#nav{
    color: beige; 
}

.apps{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}

#goat,
#stockx,
#grailed,
#ebay,
#select
{
    padding: 15px;
}
